 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Prompt", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/19196727/pexels-photo-19196727.jpeg?cs=srgb&dl=pexels-njeromin-19196727.jpg&fm=jpg);
    background-size: cover;
}

.container {
    width: 900px;
    height: 520px;
    background: #ffffff75;
    backdrop-filter: blur(3px);
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
    overflow: hidden;
}


.left-box {
    width: 50%;
    overflow: hidden;
    background-color: #053644;
}

.left-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-box {
    width: 50%;
    padding: 50px;
    background: rgba(241, 247, 252, 0); 
    color: #053644;
}

.right-box h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.subtitle {
    margin-bottom: 30px;
    opacity: 0.8;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: none;
    outline: none;
}

.btn-login {
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 6px;
    background: #ffffff;
    color: #053644;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.btn-login:hover {
    background: #dce1ff;
}

.small-text {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

.small-text a {
    color: #ffffff;
    text-decoration: underline;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s;
}