body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
  color: #ffffff;
  background: url('https://images.pexels.com/photos/2736499/pexels-photo-2736499.jpeg?cs=srgb&dl=pexels-content-pixie-1405717-2736499.jpg&fm=jpg')
    no-repeat center center fixed;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 80px; 
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  z-index: -1;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(5, 54, 68, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}


form{
  display: flex;
  width: 600px;
  justify-content: center;
  align-items: center;
}


header a{
  position: absolute;
  transform: rotate(90deg);
  left: 50px;
}

header img {
  height: 40px;
  width: 40px;
}

header h1 {
  margin: 0;
  font-size: 40px;
}

.contact-box {
  background: rgba(255, 255, 255, 0.95);
  color: #222;
  max-width: 650px;
  width: 90%;
  padding: 35px;
  border-radius: 16px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
}


.contact-box h2,
.contact-box h3 {
  margin-top: 0;
  color: #053644;
}

.contact-box p {
  font-size: 18px;
  margin: 6px 0;
}

.contact-box form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.contact-box input,
.contact-box textarea {
  margin-left: 45px;
  width: 620px;
  padding: 12px 12px;         
  border: 1.8px solid #cfcfcf;
  border-radius: 8px;          
  font-size: 16px;
  background: #fff;

}



.contact-box textarea {
  min-height: 110px;          
  resize: vertical;   
 }

.contact-box input:focus,
.contact-box textarea:focus {
  border-color: #053644;
  box-shadow: 0 0 6px rgba(5, 54, 68, 0.3);
  outline: none;
}

.contact-box textarea {
  min-height: 120px;
}

.contact-box button {
  background: #053644;
  color: white;
  padding: 14px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s;
  margin-left: 30px;
  margin-top: 30px;
}

.contact-box button:hover {
  background: #075063;
  transform: translateY(-2px);
}
