body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
  color: #ffffff;
  background: url('https://images.pexels.com/photos/2736499/pexels-photo-2736499.jpeg?cs=srgb&dl=pexels-content-pixie-1405717-2736499.jpg&fm=jpg') no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

header {
  padding: 20px;
  text-align: center;
  background-color: #053644;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img{
  position: fixed;
  left: 50px;
  top: 30px;
}

header h1 {
  font-size: 42px;
  margin: 0;
}

header p {
  font-size: 20px;
  margin-top: 8px;
}

.contact-box {
  background: white;
  color: #333;
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.25);
}

.contact-box h2, .contact-box h3 {
  margin-top: 0;
   color: #000000;
}

.contact-box form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-box input,
.contact-box textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid gray;
  border-radius: 8px;
  font-size: 16px;
}

.contact-box button {
  background-color: #053644;
  color: white;
  padding: 12px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.contact-box button:hover {
  background-color: #0a4150;
}

form{
  display: flex;
  justify-content: center;
  width: 550px;
}

